<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Controllers</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    
    <!-- bind the item controller to an element -->
    <div ng-controller ="ItemsCtrl">
       <!-- interpolate the data to the view -->
      
      
      <div>Player name: {{player.name}}</div>
      <div>Player hp: {{player.hp}}</div>
      <div>Is player Dad?: {{isDead}}</div>
      <div>player level:{{player.level}}</div>
      <div>player exp :{{player.exp}}</div>
    <button ng-click="Take damage(40)">Take damage </button></button>
    <button ng-click="levelUp()">level</button>
    <button ng-click="gainExp()">gain exp </button>
      <div>
        Name: {{item.name}}
      </div>
       <div>
         Description:<span ng-bind="item.description"></span>
       </div>
       <button ng-click ="toogleDescription()">
         <span ng-show= "visibleDescription">show description</span>
          <span ng-hide="visibleDescription">hide description</span>
       </button>
       
        <div>
          Slots:<span ng-bind="item.slots"></span>
        </div>
        <div>
          Fits in bag? {{checkIfFits(item,5)}}
        </div>
        <div>
          <img  ng-hide="!item" ng-src="{{item.image}}"alt="">
        </div>
        
        <button ng-click="dispose()">Dispose</button>
      
    </div>
    <div ng-controller="playerCtrl">
      </div>
  
      
    </div>
  
    
   
    
    <!-- understanding the scope -->
    
    
    <!-- add handles for behaviours -->
    
    
    <!-- create another controller for the player for managing data such as personal and game info -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>

    <script src="subjects/controllers/app.js"></script>
    <!-- load the item controller -->
    <script  src ="subjects/controllers/item.controller.js"></script>
  </body>
</html>
