<!DOCTYPE html>
<html>
  <head>
     <base href="/">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width">
     <title>Artoo Campus - Filters</title>
     <link rel="stylesheet" href="main.css">
     <link rel="stylesheet" href="ui/appbar/appbar.css">
     <!--<link rel="stylesheet" href="ui/form/form.css">-->
  </head>

  <body ng-app="artoo">
     <appbar></appbar>

      <div ng-controller="ItemsCtrl">
      <!-- get a list of items -->

     <!-- sort items by price -->

     <!-- sort items by name -->

     <!-- filter items for name -->
         <h2>Order By</h2>
         <select name="orderByOptions"
            ng-options="option.prop as option.title for option in orderByOptions"
           ng-model="selectedOrderByOptions">
        </select>


        <label>Reverse?
           <input type="checkbox" ng-model="selectedReverse">
        </label>

        <h2>Filter</h2>
        <input type="text" ng-model="search[selectedFilterProp]">
        
         <label>Suitability
           <input type="checkbox" ng-model="selectedSuitable">
        </label>

        <form>
           <label> All
              <input type="radio" ng-model="selectedFilterProp" value="$">
           </label>
           <label>Name
              <input type="radio" ng-model="selectedFilterProp" value="name">
           </label>
           <label>Description
              <input type="radio" ng-model="selectedFilterProp" value="description">
           </label>
        </form>

         <h2>Items</h2>
         <ul style="list-style: none">
            <li ng-repeat="item in items |suitability:onlySuitable| filter:search | orderBy:selectedOrderByOptions:selectedReverse ">
              <h3>{{::item.name}}, {{::item.price}} G, {{::item.availability}} pieces</h3>
              <h3>{{::item.name}}, {{::item.price | price}}, {{::item.availability | availability}}</h3>
               <p>{{::item.description}}</p>
              <p>Races: {{::item.races | races}}</p>
              <p>Suitable? {{::item.races | suitable | yesOrNo}}</p>
              <p>Created day: {{item.createdAt | date:'dd/MM/yyyy'}} at {{item.createdAt | date:'hh:mm:ss:ms'}}</p>
               <hr>
            </li>
         </ul>
      </div>

     <!-- sort items by price -->

     <!-- sort items by name -->

     <!-- filter items for name -->

      <!-- implement a filter for prices -->

      <script src="ui/appbar/appbar.js"></script>
      <script src="subjects/filters/app.js"></script>
      <script src="subjects/filters/items.controller.js"></script>
     <script src="subjects/filters/items.filter.js"></script>
    <script src="subjects/filters/player.service.js"></script>
     <script src="subjects/filters/text.filter.js"></script>
   </body>
</html>